*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: blue;
    height: 50px;
}
.menu{
    text-align: center;
}
.menu-info{
    display: inline-block;
    padding: 0 30px;
    line-height: 50px;
}
.menu-info:hover{
    background-color: red;
}
.menu-link{
    color: white;
    text-decoration: none;
    list-style: none;
}
.cha{
    position: relative;
}
.cha:hover .con{
    display: block;
}
.con li:hover{
    background-color: yellow;
}
.con li:hover .menu-link2{
    color: red;
}
.con {
    position: absolute;
    background-color: green;
    width: 200px;
    left: 0;
    display: none;
}
.con li{
    list-style-type: none;   
    border-bottom: 1px solid #fff;
    text-align: left;
    padding-left: 5px;
}
.menu-link2{
    text-decoration: none;
    color: #fff;
}
