*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    background-color: #336699;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-img{
    height: 80%;
    width: 70px;
    margin-left: 20px;
}
.header-search{
    width: 20%;
    height: 70%;
}
.header-link{
    margin-right: 40px;
    color: white;
   
}
.header-link a{
    text-decoration: none;
    color: white;
}
.header-link:hover a{
    color: red;
}
.box{
    margin-top: 20px;
}
menu{
    
    width: 15%;
    display: inline-block;
}
.menu-title{
    width: 100%;
    background-color: #336699;
    color: white;
    padding: 5px;
}
.menu-list{
    height: 300px;
    display: grid;
    border: 1px solid blue;
    list-style-type: none;
}
.menu-info a{
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    
}
.menu-info:hover>a{
    color: #336699;
}
.cha{
    position: relative;
}
.con{
    position: absolute;
    top: 0;
    left: 101%;
    list-style-type: none;
    display: none;
    background-color: white;
}
.con-info{
    padding-bottom: 5px;
}
.cha:hover .con{
    display: block;
}
.content{
    float: right;
    width: 85%;
    background-color: white;
    /* overflow: hidden; */
}
.content-title{
    background-color: gray;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.content-shop{
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
.product_img{
    width: 150px;
    height: 100px;
    margin-bottom: 5px;
}
.product_name{
    width: 150px;
    margin-bottom: 5px;
}
.product_price{
    color: red;
}
.product_oldprice{
    text-decoration: line-through;
    font-size: 14px;
}

footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
